/* General Reset */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #353535, #272727);
  }
  
  .bank-name {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .card-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 90%;
  }
  
  .card-container h2 {
    margin: 0 0 10px 0;
    color: #333;
  }
  
  .card-container p {
    font-size: 1rem;
    margin: 10px 0 20px 0;
    color: #666;
  }
  
  .button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  button {
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  .login-button {
    background-color: #aeb0b3;
    color: #000000;
  }
  
  .signup-button {
    background-color: #000000;
    color: #fff;
  }
  
  button:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }
  